.telegram-link {
    display: flex;
    gap: 0.3rem;
}

.telegram-link:hover {
    cursor: pointer;
}

.telegram-link img {
    width: 1.5em;
}

.telegram-link svg {
    width: 1.5em;
    fill: var(--color-primary)
}